.product_content {
    margin: 0 0.5% 0 0.5%;
    min-height: 200px;
}

.loader {
    height: 100%;
    padding-top: 15%;
    position: fixed;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, .75);
    z-index: 99999;
    display: none;
}

.loader .load-icon{
    /* colors */
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;

    /* Settings */
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: fixed;
    top: calc(50% - 120px);
    left: calc(50% - 120px);
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.dataTables_processing {
    background: rgba(0, 0, 0, 0) !important;
}

#modelContent {
    min-height: 500px;
}

.table-striped > tbody > .danger > th {
    background-color: #f2dede !important;
}

.history {
    padding: 10px;
    max-height: 110px;
    overflow-y: scroll;
}

.history li {
    cursor:pointer;
    list-style: none;
}

.center-content {
    position: absolute;
    width: 28%;
    top: 21%;
    left:34%;
}

.center-content h1  {
    margin: 15px;
}

.vertical-align {
    align-content: center;
}
.vertical-align td{
    text-align: center;
    vertical-align: middle;
}

#ResultsIcon {
    text-align: center;
    margin: 30px;
}

#ResultsIcon i {
    font-size: 200px;
    color: #1ABB9C;
}

.table-responsive {
    min-height: 600px;
}

.left-space {
    margin-left: 5px;
}